.jadwal-container{
    background-color: white;
    border-radius: 20px;
    /* width: 100%; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 26px 29px;
}

.jadwal-title{
    font-size: 26px;
    font-weight: 700;
    padding: 48px 29px;
    color: rgb(24, 28, 50);
}

.jadwal-image-container{
    height: 373px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 48px 16px;
}

.jadwal-image-container img{
    width: auto;
    height: 100%;
    object-fit: contain;
}

